## Final Project Submission

Please fill out:
* Student name: Marcel Meyer

# Business Case

Situation: I just sold my startup for 5 Million Dollar and want to establish a small incubator.
Talented Data Scientist can live for free at my home and in exchange I get 10 % of their start-ups.
I calculate that I want to keep 2 million dollars for my daily living and as play money (or as old-age provision) and the rest of 3 million I am ready to spend for a house.
For that I need a home in a central area with a lot of bedrooms and a big living room. Pool is a must for excessive pool parties.

I want at least 5 bedrooms - one for me and 4 for the data scientist -, and two bathrooms in the urban area and an above-average basement, so my programmers can code in the living room.
Is the budget enough to buy such a home?

In [36]:
import pandas as pd

In [37]:
raw_df = pd.read_csv("King_County_House_prices_dataset.csv", parse_dates=[1])

raw_df.head(5)
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null datetime64[ns]
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(1)
memory usage: 3.5+ MB

In [38]:
raw_df["zipcode"].unique()

array([98178, 98125, 98028, 98136, 98074, 98053, 98003, 98198, 98146,
       98038, 98007, 98115, 98107, 98126, 98019, 98103, 98002, 98133,
       98040, 98092, 98030, 98119, 98112, 98052, 98027, 98117, 98058,
       98001, 98056, 98166, 98023, 98070, 98148, 98105, 98042, 98008,
       98059, 98122, 98144, 98004, 98005, 98034, 98075, 98116, 98010,
       98118, 98199, 98032, 98045, 98102, 98077, 98108, 98168, 98177,
       98065, 98029, 98006, 98109, 98022, 98033, 98155, 98024, 98011,
       98031, 98106, 98072, 98188, 98014, 98055, 98039])

find zip codes in rural area with website:
https://www.freemaptools.com/find-zip-codes-inside-user-defined-area.htm

In [39]:
urban_zips = [98199,98116,98136,98160,98117,98107,98023,98020,98177,98126,98119,98146,98062,98166,98106,98103,98121,98133,98109,98134,98174,98154,98101,98164,98111,98114,98124,98129,98138,98145,98170,98181,98185,98190,98191,98161,98113,98127,98139,98141,98165,98175,98194,98104,98102,98148,98046,98108,98003,98198,98043,98158,98195,98122,98155,98125,98168,98144,98112,98036,98105,98115,98188,98131,98118,98001,98032,98178,98028,98047,98039,98064,98035,98040,98089,98063,98071,98093,98057,98082,98004,98034,98002,98083,98021,98011,98041,98009,98015,98030,98031,98033,98055,98056,98005,98007,98072,98052,98073]

In [40]:
# find all zip codes which are in the selected area and give the size of the left dataset
raw_df.zipcode.apply(lambda x : x in urban_zips).sum()

14900

In [47]:
# read in new table
urban_area = raw_df[raw_df.zipcode.apply(lambda x : x in rural_zips)]

In [51]:
urban_area.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.490000e+04,1.490000e+04,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000,13271.000000,14854.000000,14900.000000,14900.000000,14900.000000,14900.000000,12218.000000,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000
mean,4.586244e+09,5.435522e+05,3.314832,2.015117,1952.429866,8804.801409,1.445403,0.007309,0.247879,3.442349,7.508523,1621.569664,1963.873557,98.998036,98092.518456,47.585055,-122.285350,1852.171074,7948.734161
std,2.865262e+09,3.931993e+05,0.973924,0.780101,867.501022,10844.723652,0.553369,0.085184,0.779687,0.672166,1.105542,735.563365,30.206646,433.387104,56.560856,0.134096,0.078617,606.786656,6508.925165
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,520.000000,1.000000,0.000000,0.000000,1.000000,4.000000,370.000000,1900.000000,0.000000,98001.000000,47.257400,-122.416000,460.000000,651.000000
25%,2.126059e+09,3.150000e+05,3.000000,1.500000,1340.000000,4789.500000,1.000000,0.000000,0.000000,3.000000,7.000000,1120.000000,1944.000000,0.000000,98034.000000,47.504900,-122.351000,1420.000000,4895.000000
50%,3.902300e+09,4.456000e+05,3.000000,2.000000,1790.000000,7200.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1420.000000,1963.000000,0.000000,98107.000000,47.618150,-122.299000,1720.000000,7205.500000
75%,7.231502e+09,6.385500e+05,4.000000,2.500000,2380.000000,9542.000000,2.000000,0.000000,0.000000,4.000000,8.000000,1920.000000,1988.000000,0.000000,98126.000000,47.691200,-122.219000,2150.000000,9131.250000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,12050.000000,290980.000000,3.500000,1.000000,4.000000,5.000000,13.000000,8860.000000,2015.000000,2015.000000,98199.000000,47.777600,-122.025000,5500.000000,167378.000000

In [69]:
urban_area[urban_area.bedrooms > 4].describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.355000e+03,1.355000e+03,1355.000000,1355.000000,1355.000000,1355.000000,1355.000000,1211.000000,1349.000000,1355.000000,1355.000000,1355.000000,1355.000000,1123.000000,1355.000000,1355.000000,1355.000000,1355.000000,1355.000000
mean,4.431306e+09,8.254346e+05,5.282657,2.784317,2993.568266,11497.814760,1.538745,0.013212,0.426983,3.488561,8.107749,2279.769742,1965.182288,145.860196,98084.710701,47.598057,-122.267295,2246.864207,9686.878229
std,2.822589e+09,7.016484e+05,0.981642,0.924806,1119.402738,14532.960036,0.512197,0.114230,0.998537,0.683512,1.338077,1026.311494,31.043472,519.948499,57.299291,0.118714,0.076765,735.700226,7700.661187
min,1.000102e+06,1.330000e+05,5.000000,1.000000,1120.000000,1989.000000,1.000000,0.000000,0.000000,1.000000,5.000000,760.000000,1900.000000,0.000000,98001.000000,47.260200,-122.415000,460.000000,1099.000000
25%,2.043425e+09,4.250000e+05,5.000000,2.250000,2260.000000,5750.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1500.000000,1948.500000,0.000000,98033.000000,47.531450,-122.327000,1720.000000,5474.000000
50%,3.914000e+09,6.195000e+05,5.000000,2.750000,2790.000000,8320.000000,1.500000,0.000000,0.000000,3.000000,8.000000,2010.000000,1965.000000,0.000000,98105.000000,47.623200,-122.282000,2080.000000,8100.000000
75%,6.913960e+09,9.457250e+05,5.000000,3.250000,3470.000000,11970.000000,2.000000,0.000000,0.000000,4.000000,9.000000,2850.000000,1989.000000,0.000000,98122.000000,47.682550,-122.208500,2695.000000,10745.500000
max,9.842300e+09,7.700000e+06,33.000000,8.000000,12050.000000,290980.000000,3.500000,1.000000,4.000000,5.000000,13.000000,8860.000000,2015.000000,2015.000000,98199.000000,47.777200,-122.084000,5500.000000,103237.000000

In [64]:
8.333999e+05

833399.9